@import url(normalize.css);
body{
    background-color:rgba(197, 63, 184, 0.795);
    background-image: url(img/article-5f6226be9f5be.jpg);
    background-repeat: ;
    color:rgb(20, 18, 18);

}
h1{
    width: 300px;
    margin: 40px auto;
    padding: 50px;
    border: 5px solid #8dc2f3;
    background-color: #d859c3;
    color: rgba(255, 255, 255, 0.938);
    
    text-align: center;
    line-height: 1;
}
h2{
    padding: 10px;
    margin-bottom: 0px;
    border: 1px dotted #e02c80;
    border-left: 10px solid #e02c80;
    color: #53141f;
}

main{
    
    background-color: rgb(245, 159, 226);
    margin:0px auto;
    padding: 40px 80px;
    border: 1px solid #f01919;
    text-align: center;
}
nav{
    
    background-color: rgba(255, 255, 255, 0.308);
}
.round{
    border-radius: 25%;
}
h1,header,nav,footer{

    text-align: center;
}

aside{
    
    background-color: rgb(230, 245, 163);
    width: 100%;
    float: left;
}
section{
    
    background-color: rgb(240, 148, 186);
    width: 80%;
    float: left;
}
footer{
    height: 312px;
    background-color: rgb(148, 219, 240);
    width: 20%;
    float: left;
   
}

.post{
    text-align: center;
    padding: 10px;
    float: left;
}