@import url(normalize.css);
body{
    background-color:rgb(240, 197, 236);
    color:rgb(20, 18, 18);

}
h1{
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #7fd9e0;
    background-color: #a239bd;
    color: #fff;
    font-size: 300%;
    text-align: center;
    line-height: 1;
}
h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #e02c80;
    border-left: 10px solid #e02c80;
    color: #53141f;
}

main{
    width: 980px;
    background-color: rgba(255, 255, 255, 0.308);
    margin:0px auto;
    padding: 40px 80px;
    border: 1px solid #f01919;
}
.round{
    border-radius: 50%;
}
h1,header,nav,footer{

    text-align: center;
}
nav{
    background-color: rgb(180, 20, 159);
    text-align: center;
}

nav li{
    list-style-type: none;
    display: inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}
nav li a:hover{
    background-color:rgb(181, 227, 247);
    color: rgb(221, 51, 51);
}
